*{
	font-family:Helvetica,Arial,sans-serif;
}
h2{
	margin-top: 0px;
}

div.servicio{
	border:1px solid grey;
	width:280px;
	margin:5px;
	float:left;
}

div.content{
	padding:20px;
	text-align:center;
}

.precios{
	margin-top:10px;
	text-align:center;
	width:100%
}
.precio{
	display:inline-block;
	font-size:1.2em;
	font-weight:bold;
}

.precio_old{
	color:red;
	text-decoration:line-through;
	display:inline-block;
}
