*{
	font-family:Helvetica,Arial,sans-serif;
}
h2{
	margin-top: 0px;
}

div.servicio{
	border:1px solid grey;
	width:280px;
	margin:5px;
	float:left;
}

div.content{
	padding:20px;
	text-align:center;
}